<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>168311554807-s4u3l5ag4v7lee81p7k55dfu2dadskd6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.168311554807-s4u3l5ag4v7lee81p7k55dfu2dadskd6</string>
	<key>API_KEY</key>
	<string>AIzaSyCAtr8r0U_YekY5rSm5O3_gp9UcJuqFBig</string>
	<key>GCM_SENDER_ID</key>
	<string>168311554807</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.Firebase-iOS</string>
	<key>PROJECT_ID</key>
	<string>test-ios-a7970</string>
	<key>STORAGE_BUCKET</key>
	<string>test-ios-a7970.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:168311554807:ios:505470879912f3aa</string>
	<key>DATABASE_URL</key>
	<string>https://test-ios-a7970.firebaseio.com</string>
</dict>
</plist>